[Unit]
Description=Wake On Lan HTTP Service that wakes up devices based on MAC address or Device Name
; After=network.target

[Service]
ExecStart=/usr/local/bin/wol-http -config /etc/wake-on-lan/config.json
Restart=always
User=root
WorkingDirectory=/usr/local/bin/

[Install]
WantedBy=multi-user.target
