[Unit]
Description=Enable Wake-on-LAN
After=network-online.target systemd-suspend.service systemd-hibernate.service systemd-sleep.service

[Service]
Type=oneshot
User=root
ExecStart=/sbin/ethtool --change eno1 wol g

[Install]
WantedBy=multi-user.target
